.component {
    /* margin-top: 1rem; */
    margin: .5rem .5rem .5rem .5rem;
    border-radius: 5px;
    height: 2.5rem;
}

.boxshadow {
    margin: .5rem .5rem .5rem .5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: .5rem;
}

#text_header_version,
#text_header_id {
    margin: 0 0 0 2rem;
}

#text_header_version {
    width: 10rem;
}

#text_header_id {
    width: 20rem;
}

#button_header_save_new_version,
#button_header_select_version {
    margin-right: 1.5rem;
    width: auto;
}

.dx-checkbox-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.dx-checkbox-text {
    padding: 0;
    white-space: nowrap;
}

.js-config-buttons-decline-confirm {
    display: flex;
    justify-content: center;
}

.btn_decline_acept>img {
    margin: .5rem;
}

.js-config-main-props {
    display: flex;
    flex-direction: column;
}

.js-config-object-props {
    display: flex;
    flex-direction: row;
}

.js-config-array-props {
    display: flex;
    flex-direction: column;
}

.js-config-array-props-min-max,
.js-config-numeric-props-multiples,
.js-config-numeric-props-greater,
.js-config-numeric-props-less,
.js-config-enum-props-add,
.js-config-string-props-regular-expression,
.js-config-string-props-format,
.js-config-string-props-length-greater,
.js-config-string-props-length-less {
    display: flex;
}

#text_string_regular_expression,
#number_string_length_less,
#number_string_length_greater,
#number_numeric_multiple {
    width: 100%;
}

.js-config-enum-props {
    display: flex;
    flex-direction: column;
}

#button_enum_add_value {
    margin: .5rem .5rem .5rem .5rem;
    background-color: #8bc34a;
}

#list_enum_values {
    height: 10rem;
}

#tabTreeViewJsonSchema {
    height: 2.5rem;
    margin-bottom: .5rem;
}

#jsonRendererContainer,
#treeView {
    height: 35rem;
}

#btnHide,
#btnShow {
    background-color: rgba(0, 0, 0, 0);

}

#btnHide>div>i,
#btnShow>div>i {
    font-size: 30px;
}

#checkbox_string_format {
    width: 115px;
}